NoteApp/ErrorProject.module/Schemas/simple.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tns="http://simple.schema/simple" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://simple.schema/simple">
  <xsd:element name="group">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="string" type="xsd:string"/>
        <xsd:element name="numbers" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
